<h4><%= description %></h4>

<div class="project-stats">
  <p>
    <a href="https://github.com/samsonjs/<%= title %>">GitHub</a>
    &bull;
    <a id="nstar" href="https://github.com/samsonjs/<%= title %>/stargazers"></a>
    &bull;
    <a id="nfork" href="https://github.com/samsonjs/<%= title %>/network/members"></a>
  </p>

  <p>
    Last updated on <span id="updated"></span>
  </p>
</div>

<div class="project-info row clearfix">
  <div class="column half">
    <h3>Contributors</h3>
    <div id="contributors"></div>
  </div>

  <div class="column half">
    <h3>Languages</h3>
    <div id="langs"></div>
  </div>
</div>

<script>
  SJS.projectName = '<%= title %>'
</script>
