<!doctype html>
<html lang="en">

<head>
  <% if (typeof title != 'undefined') { %>
    <title><%= title %> - <%= site %></title>
  <% } else { %>
    <title><%= site %></title>
  <% } %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/gif" href="/images/s.gif">
  <link rel="stylesheet" href="/css/style.css">
  <% for (var i in styles) { %>
    <link rel="stylesheet" href="/css/<%= styles[i] %>.css">
  <% } %>
  <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="<%= site %>">
</head>

<body>
  <header>
    <h1><a href="/"><%= site %></a></h1>
    <h4>by <%= author %></h4>
  </header>

  <nav>
    <a href="/archive">posts</a>
    <a href="/projects">projects</a>
    <a href="https://twitter.com/_sjs">twitter</a>
    <a href="mailto:<%= email %>"><%= email %></a>
  </nav>

  <%- yield %>

  <footer>
    Copyright &copy; 2006 - <%= new Date().getFullYear() %> <a href="mailto:<%= email %>"><%= author %></a>
  </footer>

  <% for (var i in scripts) { %>
    <script src="/js/<%= scripts[i] %>.js"></script>
  <% } %>

  <script>
    var _gaq = _gaq || []
    _gaq.push( ['_setAccount', 'UA-214054-5']
             , ['_trackPageview']
             )

    ;(function() {
      var ga = document.createElement('script')
      ga.type = 'text/javascript'
      ga.async = true
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
      var s = document.getElementsByTagName('script')[0]
      s.parentNode.insertBefore(ga, s)
    }())
  </script>
</body>

</html>
