<% var post = public._data.latest -%>

<% if (post.link) { -%>
  <article>
    <header>
      <h2><a href="<%= post.link %>"><%= post.title %></a></h2>
      <time><%= post.date %></time>
    </header>
    <%- post.body %>
    <p><a class="permalink" href="<%= post.url %>">&infin;</a></p>
  </article>
<% } else { -%>
  <article>
    <header>
      <h2><a href="<%= post.url %>"><%= post.title %></a></h2>
      <time><%= post.date %></time>
    </header>
    <%- post.body %>
  </article>
<% } -%>
